<body>
  <header id="top" class="header">
    <div class="text-vertical-center">
      <h1>Welcome to BetterSpace</h1>
      <h3>Find Out Where NOT to Live in NYC</h3>
      <br>
        <%= link_to "Sign in with GitHub", '/auth/github', class: 'btn btn-primary btn-group-large' %>
    </div>
  </header>
</body>
