<script>$('div.navbar-static-top').hide();</script>

<body>
  <header id="top" class="header">
    <div class="text-vertical-center">
      <h1>This is BetterSpace</h1>
      <h3>Find Out Where NOT to Live in NYC</h3>
      <br>
        <%= link_to "Sign in with GitHub", '/auth/github', class: 'btn btn-primary' %>
    </div>
  </header>
</body>
