@import "bootstrap";

.wrapper{
        background: url('/assets/images/green_suburb.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
