.header {
  // -webkit-background-clip: border-box;
  // -webkit-background-origin: padding-box;
  -webkit-background-size: cover;
  background-attachment: scroll;
  // background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(http://startbootstrap.com/templates/stylish-portfolio/img/bg.jpg);
  // background-origin: padding-box;
  background-size: cover;
  // box-sizing: border-box;
  color: rgb(51, 51, 51);
  // display: table;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100;
  line-height: 20px;
  position: relative;
  width: relative;
}

  // background: url(images/bg.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

.text-vertical-center {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: table-cell;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 963px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 2226px;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
  }


  h3 {
    font-size: 24px;
  }
}

#map {
  height: 100%;
  width: 600px;
}

#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
}

#map-canvas {
  height: 384px;
  width: 100%;
}

a { color: #4B58A6; }
a:hover { color: #4B58A6; }

#map_canvas img {
  max-width: none;
}

.filter-box {
  height: 15px;
  width: 15px;
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}
