.header {
  // -webkit-background-clip: border-box;
  // -webkit-background-origin: padding-box;
  -webkit-background-size: cover;
  background-attachment: scroll;
  // background-clip: border-box;
  background-color: rgba(204, 204, 204, 1);
  background-image: url(http://startbootstrap.com/templates/stylish-portfolio/img/bg.jpg);
  // background-origin: padding-box;
  background-size: cover;
  // box-sizing: border-box;
  color: rgb(51, 51, 51);
  // display: table;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100;
  line-height: 20px;
  position: relative;
  width: relative;
}


.text-vertical-center {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: table-cell;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 963px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 2226px;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
  }


  h3 {
    font-size: 24px;
  }
}

$bgDefault      : #a7a7a7;
$bgHighlight    : #ffffff;
$colDefault     : #ecf0f1;
$colHighlight   : #736a7c;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus {
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
}
